<html data-ng-app="crudModule">
@{
    ViewBag.Title = "Manage Book Information using AngularJs, WEB API";
}

<body>
<h2>Manage Book Library Information using AngularJs, WEB API</h2>
    <table id="tblContainer" data-ng-controller="CRUD_OperController">
        <tr>
            <td>
                <table style="border: solid 2px Green; padding: 5px;">
                    <tr style="height: 30px; background-color: skyblue; color: maroon;">
                        <th></th>
                        <th>Id</th>
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Subtitle</th>
                        <th>Description</th>
                        <th>Contributor</th>
                        <th>Language</th>
                        <th>Publication Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tbody data-ng-repeat="book in Books">
                        <tr>
                            <td></td>
                            <td><span>{{book.Id}}</span></td>
                            <td><span>{{book.ISBN}}</span></td>
                            <td><span>{{book.Title}}</span></td>
                            <td><span>{{book.Subtitle}}</span></td>
                            <td><span>{{book.Description}}</span></td>
                            <td><span>{{book.Contributors}}</span></td>
                            <td><span>{{book.Language}}</span></td>
                            <td><span>{{book.PublicationDate}}</span></td>
                            <td>
                                <input type="button" id="Edit" value="Edit" data-ng-click="get(book)" />
                            </td>

                            <td>
                                <input type="button" id="Delete" value="Delete" data-ng-click="delete(book)" />
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        <tr>
            <td>
                <div style="color: red;">{{Message}}</div>
                <table style="border: solid 4px Red; padding: 2px;">
                    
                    <tr>
                        <td></td>
                        <td>
                            <span>ISBN</span>
                        </td>
                        <td>
                            <input type="text" id="ISBN" required data-ng-model="ISBN" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span>Title</span>
                        </td>
                        <td>
                            <input type="text" id="Title" required data-ng-model="Title" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span>Subtitle</span>
                        </td>
                        <td>
                            <input type="text" id="Subtitle" required data-ng-model="Subtitle" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span>Description</span>
                        </td>
                        <td>
                            <input type="text" id="Description" required data-ng-model="Description" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span>Contributors</span>
                        </td>
                        <td>
                            <input type="text" id="Contributors" required data-ng-model="Contributors" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span>Language</span>
                        </td>
                        <td>
                            <input type="text" id="Language" required data-ng-model="Language" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span>Publication Date</span>
                        </td>
                        <td>
                            <input type="text" id="PublicationDate" required data-ng-model="PublicationDate" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="button" id="save" value="Save" data-ng-click="save()" />

                            <input type="button" id="Clear" value="Clear" data-ng-click="clear()" />
                        </td>
                    </tr>
                </table>

            </td>
        </tr>

    </table>
</body>
</html>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/app/Module.js"></script>
<script src="~/Scripts/app/Service.js"></script>
<script src="~/Scripts/app/Controller.js"></script>  